.movie-image {
  height: 250px;
  width: 250px;
}
.movie-card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.mat-card {
  width: 300px;
  height: 400px;
  margin: 10px;
  align-items: center;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
